.custom-shape-divider-top-1700489744 {
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: #1f2937 !important;
}

.custom-shape-divider-top-1700489744 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 104px;
}

.custom-shape-divider-top-1700489744 .shape-fill {
    fill: #e5e7eb;
}