.header-kapsayici{
    background-color: #e7862a;
}

.acilir-menu{
    display: none;
}

.acilir-menu-link{
    transition: ease-in-out	2s;
}

.acilir-menu-link:hover> .acilir-menu, .acilir-menu:hover>.acilir-menu{
    display: flex;
    flex-direction: column;
}
